
  <!--=============== Dashboard view section========== -->
      <!-- ============Card Section================= -->
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> NGOs</h5>
                  <p class="card-text">{{numberOfNgos}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Users</h5>
                  <p class="card-text">{{numberOfUsers}}</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Visitors</h5>
                  <p class="card-text">{{numberofVistors}} per day</p>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Medicines</h5>
                  <p class="card-text">{{numberOfMedicines}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ============End of card section================ -->

      <div class="row">
        <!--============== Recent Received Section post==================== -->
        <div class="col-8 recent">
          <h4>Recent Received</h4>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">S.N</th>
                <th scope="col">Name of Medicine</th>
                <th scope="col">Name of Client</th>
                <th scope="col">Exp Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Synthroid</td>
                <td>Lalit Sunar</td>
                <td>2020-04-23</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Albuterol</td>
                <td>Kapendra Kathayat</td>
                <td>2021-01-05</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Bromfed DM</td>
                <td>Lokendra Dangi</td>
                <td>2021-03-21</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Haldol</td>
                <td>Saaroj Rawal</td>
                <td>2020-12-05</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Haldol</td>
                <td>Hasil Dangi</td>
                <td>2020-12-05</td>
              </tr>
            </tbody>
          </table>
        </div>
<!--============== End of Recent Received Section post==================== -->
<!--======================Stock secton======================= -->
<div class="col-4 recent">
  <h4>Total Stock</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Quick Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Paracetamol</th>
        <td>200</td>
      </tr>
      <tr>
        <th scope="row">D-Cold</th>
        <td>150</td>
      </tr>
      <tr>
        <th scope="row">Acetaminophen</th>
        <td>50</td>
      </tr>
      <tr>
        <th scope="row">Aciphex</th>
        <td>50</td>
      </tr>
      <tr>
        <th scope="row">Senna</th>
        <td>80</td>
      </tr>
    </tbody>
  </table>
</div>
      </div>
