<app-header></app-header>
<div class="row">
  <!-- Buttons and Texts -->
  <div class="col-6">
    <div class="side-section">
      <h2>
        Reimaginig access for<br />
        those in needs
      </h2>
      <button class="btn btn-med btn-success">Organization Donation</button>
      <button class="btn btn-med btn-success">Individual Donation</button>
      <button class="btn btn-med btn-success">Donate Money</button>
    </div>
  </div>
  <!-- Side Image -->
  <div class="col-6">
    <img
      src="../../../assets/Donation Method.png"
      style="width: 100%; height: auto"
    />
  </div>
</div>
<!--============ Why Donate Us section===================== -->
<div class="row card-donate">
  <div class="col-6">
    <div class="why_quote">
      <h2>Why donate to us</h2>
      <p>
        Becaue Health is the fundamental Part of<br />
        human being
      </p>
    </div>
  </div>
  <div class="col-6">
    <p>
      Serving all people through exemplary health care, education, research, and
      community outreach.
    </p>
    <p>Building a Healthy Community One Individual at a Time.</p>
    <p>The Knowledge to Save Lives. The Location to Save Time.</p>
    <button class="btn btn-danger btn-content">Explore Now</button>
    <button class="btn btn-danger btn-content btn-left">Join Now</button>
  </div>
</div>
<!--======================= Onboarding Section===================== -->
<div class="row">
  <div class="col-12">
    <h3 class="text-center">How Does it Work</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Register</h5>
        <img
          class="card-img-top"
          src="../../../assets/Register icon.PNG"
          alt="Card image cap"
        />
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Packed</h5>
        <img
          class="card-img-top"
          src="../../../assets/packed medicine.PNG"
          alt="Card image cap"
        />
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center">Deleviry</h5>
        <img
          class="card-img-top"
          src="../../../assets/Delivary.PNG"
          alt="Card image cap"
        />
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row map">
  <div col-12>
    <h2 class="text-center">Our Office and Organizations ?</h2>
    <div id="map"></div>
  </div>
</div>
<app-footer></app-footer>
