<!--============== Header section=============== -->
<div class="row">
  <div class="col-12 header">
    <h1>Medcare</h1>
    <div class="profile">
      <img src="../../../assets/final.jpg" class="img-profile" />
    </div>
  </div>
</div>
<!-- ==============Side Nav section=============== -->
<div class="row">
  <div class="col-3">
    <div class="wrapper">
      <div class="sidebar">
        <h2>Dashboard</h2>
        <ul>
          <li>
            <a routerLink="./stock"
              ><i class="fas fa-clinic-medical"></i>View Stock</a
            >
          </li>
          <li>
            <a routerLink="./user"><i class="fa fa-users"></i>View Users</a>
          </li>
          <li>
            <a routerLink="./request"
              ><i class="fas fa-user-tag"></i> View Request</a
            >
          </li>
          <li>
            <a routerLink="./ngo"><i class="fas fa-kaaba"></i>Add NGO</a>
          </li>
          <li>
            <a routerLink="./medicine-requests"
              ><i class="fas fa-kaaba"></i>Requeste Medicines</a
            >
          </li>
          <li>
            <a routerLink="./chat"><i class="fas fa-kaaba"></i>Chat</a>
          </li>
        </ul>
        <a href="#" class="btn btn-danger btn-logout" (click)="onLogout()"
          >Logout</a
        >
      </div>
    </div>
  </div>
  <!--====================== End of stock secton======================= -->
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section -->
<div class="row">
  <div class="col-12 footer">
    <div class="social-link">
      <ul>
        <li>
          <a href="#"> <img src="../../../assets/facebook 64.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/instagram 32.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/twitter 32.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/gmail 32.png" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
