<!-- ============= Nav bar Section============== -->
<div class="row">
  <div class="col-12 header">
    <h1 routerLink="/user">Medcare</h1>
    <div class="profile">
      <img src="../../../assets/final.jpg" class="img-profile" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card viewmedcard">
      <div class="card-body">
        <h2 class="text-center pb-4 bt-3">
          <i class="fas fa-prescription-bottle-alt"></i>
          Request Medicine
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="add-medicine">
      <form #form="ngForm" (submit)="onSubmit(form)">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="frm-control">Medicine Name</label>
            <input
              type="text"
              class="form-control"
              name="medicineName"
              #medicineName="ngModel"
              [(ngModel)]="service.requestformData.medicineName"
              placeholder="Name of Medicine"
              #medname="ngModel"
              required
              [class.is-invalid]="medname.invalid && medname.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="medname.valid || medname.untouched"
              >Medicine Name Required</span
            >
          </div>

          <div class="form-group col-md-6">
            <label class="frm-control">Dose</label>
            <input
              type="text"
              class="form-control"
              name="dose"
              #dose="ngModel"
              [(ngModel)]="service.requestformData.dose"
              placeholder="Please mention Dose in mg"
              required
              [class.is-invalid]="dose.invalid && dose.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="dose.valid || dose.untouched"
              >Dose feild is Required</span
            >
          </div>
          <div class="form-group col-md-6">
            <label class="frm-control">Quantity</label>
            <input
              type="number"
              class="form-control"
              name="quantity"
              #quantity="ngModel"
              [(ngModel)]="service.requestformData.quantity"
              placeholder=" Please mention in ML or no.of Tablet"
              required
              [class.is-invalid]="quantity.invalid && quantity.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="quantity.valid || quantity.untouched"
              >Quantity is Required</span
            >
          </div>
          <div class="form-group col-md-6">
            <label class="frm-control">Order By</label>
            <select
              class="form-control"
              name="donationType"
              #donationType="ngModel"
              [(ngModel)]="service.requestformData.donationType"
              required
              [class.is-invalid]="donationType.invalid && donationType.touched"
            >
              <span
                class="text-danger"
                [class.d-none]="donationType.valid || donationType.untouched"
                >Please Select</span
              >
              <option selected [ngValue]="null">---Select---</option>
              <option *ngFor="let item of DonationType" [value]="item">
                {{ item }}
              </option>
            </select>
          </div>
        </div>
        <button
          class="btn btn-primary btn-lg btn-block"
          [disabled]="form.form.invalid"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
<app-footer></app-footer>
