<div class="chat">
  <h3>Admin Chat</h3>
  <div class="chat-container" #scrollMe>
    <div
      class="chat-item"
      *ngFor="let item of messages"
      [class.chat-item--right]="item.type == mode"
    >
      <div class="chat-avatar">
        <img
          [src]="
            item.type == 'user'
              ? '../../../assets/final.jpg'
              : '../../../assets/admin.png'
          "
          class="avatar-image"
        />
      </div>
      <div class="chat-message">
        {{ item.message }}
      </div>
    </div>
  </div>

  <form class="form-group chat-form" #f="ngForm" (ngSubmit)="sendMessage(f)">
    <input class="form-control" ngModel name="message" rows="2" />
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
</div>
