<div class="row">
  <!-- ===============Signup Header section======================== -->
  <div class="col-12 header">
    <h2 routerLink="/">medcare</h2>
    <div class="login-btn">
      <button routerLink="/login" class="btn btn-danger">Sign In</button>
    </div>
  </div>
  <!-- ============Signup profile section================= -->
  <div class="col-6">
    <img
      class="img-responsive"
      src="../../../assets/Register and login.png"
      style="width: 100%"
    />
  </div>

  <!-- =========== login card section======================-->
  <div class="col-6">
    <div class="card login-card">
      <div class="card-title social-login">
        <ul>
          <li>Sign in with</li>
          <li>
            <a (click)="googleSigninViaPopUp()" style="cursor: pointer"
              ><img src="../../../assets/google.png"
            /></a>
          </li>
          <li>
            <a (click)="facebookSigninViaPopUp()" style="cursor: pointer"
              ><img src="../../../assets/facebook.png"
            /></a>
          </li>
          <li>
            <a (click)="githubSigninViaPopUp()" style="cursor: pointer"
              ><img src="../../../assets/github.png"
            /></a>
          </li>
        </ul>
        <hr />
      </div>
      <div class="card-body">
        <form #form="ngForm" (submit)="onSubmit(form)">
          <div class="form-group">
            <label for="FullName" class="frm-control">Full Name</label>
            <input
              type="text"
              class="form-control"
              id="fullName"
              aria-describedby="emailHelp"
              placeholder="Enter FullName"
              name="fullName"
              [(ngModel)]="fullName"
              required
              #name="ngModel"
              [class.is-invalid]="name.invalid && name.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="name.valid || name.untouched"
              >Name is Required</span
            >
          </div>
          <div class="form-group">
            <label for="Email" class="frm-control">Email address</label>
            <input
              type="email"
              class="form-control"
              id="Email"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name="email"
              pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$"
              [(ngModel)]="email"
              required
              #emailvalid="ngModel"
              [class.is-invalid]="emailvalid.invalid && emailvalid.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="emailvalid.valid || emailvalid.untouched"
              >Email is Required</span
            >
          </div>
          <div class="form-group">
            <label for="address" class="frm-control">Address</label>
            <input
              type="text"
              class="form-control"
              id="address"
              aria-describedby="emailHelp"
              placeholder="Enter Your Address"
              name="address"
              [(ngModel)]="address"
              required
              #addressvalid="ngModel"
              [class.is-invalid]="addressvalid.invalid && addressvalid.touched"
            />
            <span
              class="text-danger"
              [class.d-none]="addressvalid.valid || addressvalid.untouched"
              >Address is Required</span
            >
          </div>
          <div class="form-group">
            <label for="Password" class="frm-control">Password</label>
            <input
              type="password"
              class="form-control"
              id="Password"
              placeholder="Password"
              pattern=""
              name="password"
              [(ngModel)]="password"
              required
              #passwordvalid="ngModel"
              [class.is-invalid]="
                passwordvalid.invalid && passwordvalid.touched
              "
            />
            <span
              class="text-danger"
              [class.d-none]="passwordvalid.valid || passwordvalid.untouched"
              >Password is Required</span
            >
            <!-- <span class="text-danger" [class.d-none]="password.valid || password.untouched">Password must be 6 digits</span> -->
          </div>
          <div class="form-group">
            <label for="Password" class="frm-control">Phone Number</label>
            <input
              type="number"
              class="form-control"
              id="phoneNumber"
              placeholder="Phone Number"
              pattern=""
              name="phoneNumber"
              [(ngModel)]="phoneNumber"
              required
              #phoneNumbervalid="ngModel"
              [class.is-invalid]="
                phoneNumbervalid.invalid && phoneNumbervalid.touched
              "
            />
            <span
              class="text-danger"
              [class.d-none]="
                phoneNumbervalid.valid || phoneNumbervalid.untouched
              "
              >Phone number is Required</span
            >
            <!-- <span class="text-danger" [class.d-none]="password.valid || password.untouched">Password must be 6 digits</span> -->
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="form.form.invalid"
          >
            Sign Up
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- ================Footer section=============== -->
  <div class="col-12 footer">
    <div class="social-link">
      <ul>
        <li>
          <a href="#"><img src="../../../assets/facebook 64.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/instagram 32.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/twitter 32.png" /></a>
        </li>
        <li>
          <a href="#"><img src="../../../assets/gmail 32.png" /></a>
        </li>
      </ul>
    </div>
  </div>
</div>
